.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
    height: auto;
    /* min-height: 1.4375em; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 2px;
    display: flex;
    align-items: center;
    min-height:0!important;
    justify-content: flex-start;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px;
}