.container{
   transform: translateX(-40px);
  
}
@media(max-width:600px){
    .container{
        transform: translateX(0px);
       width:100%;
       display:flex;
       justify-content: center;
       align-items: center;
    }
}