@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
.latestevent {
  background-color: white;
  border-radius: 20px;
  width:65%;
  
  
}
.scroll{
  height:95vh;
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 5px;
}
.scroll1{
    height:95vh;
  overflow-y: scroll;
  margin-left:4px;
}
.scroll1::-webkit-scrollbar {
  width: 5px;
}
.heading {
  font-family: "Poppins";
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
}
.wrap {
  margin-top: 40px;
  display: flex;
  margin-bottom:40px;
  justify-content: space-between;
}
.result {
  background-color: white;
  width:32%;
  border-radius: 20px;
  padding-left: 10px;
  padding-right:5px;
  padding-top:20px;
  padding-bottom:20px;
}
.zoom {
  background-color: rgba(118, 148, 255, 1);
  display: block;
  width: 35px;
  padding: 4px;
  border-radius: 50px;
}

.conone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left:10px;
  margin-right: 10px;
}
.text {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
}


@media (max-width: 1125px) {
  .latestevent{
    width:63%;
  }
  .result{
    width:35%;
  }
}
@media (max-width:1120px)
{
  .heading{
    margin-left:10px;
  }
}
@media (max-width: 950px) {
  .container {
    width: 90vw;
  }
}
@media (max-width: 900px) {
    .wrap {
       flex-direction: column;
      }
      .latestevent {
        width: 100%;
        margin-bottom: 40px;
      }
      .result {
      margin-left:0px;
      }
      .container {
        width: 85vw;
      }
      .result{
        width:100%;
      }
}
@media (max-width:600px) {
    .container {
        width: 90vw;
       
      }
      
}

