@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.wrap{
    width:100%;
    display: inline-block;
    background-color: white;
    height:320px;
    border-radius: 20px;
    padding-top: 50px;
    box-shadow: 3px 3px 18px rgba(118, 148, 255, 0.25);
    
}
.name{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding-left: 10px;
    height:50px;
}
.link{
    color:black;
    font-family: "Poppins";
}
.image{
    width:100%;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 3px 3px 18px rgba(118, 148, 255, 0.25);
}
.container{
    width:300px;
    display: inline-block;
}
@media (max-width:1128px)
{
    .container{
        width:220px;
    }
    
}