.homeGalleryContainer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1360px;
    padding: 20px 0px;
    flex-wrap: wrap;
    position: relative;
}

.homeGalleryBox{
    width: 25%;
    padding: 5px;
    height: 250px;
}

.homeGalleryCard{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 18px rgba(118, 148, 255, 0.25);
    border: none;
    cursor: pointer;
}

.homeGalleryImage{
    width: 100%;
    height: 100%;
}

.modalGallery{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.43);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modalGalleryCloseButton{
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
}

.modalGalleryImageBox{
    width: 90%;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalGalleryCloseButton{
    width: 100%;
    text-align: right;
}

.modalGalleryArrowButton{
    border: none;
    background: transparent;
}

.modalImage{
    width: 100%;
    padding: 20px 0px;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalImage img{
    width: 90%;
    height: 100%;
}

.modalGalleryArrows{
    width: 100%;
    text-align: center;
}

.modalArrow{
    color: white !important;
    font-size: 40px !important;
}

.modalArrow:hover{
    cursor: pointer;
}

@media screen and (max-width:1200px) {

    .homeGalleryBox{
        width: 33%;
        padding: 5px;
        height: 200px;
    }

}

@media screen and (max-width:600px) {

    .homeGalleryBox{
        width: 50%;
        padding: 5px;
        height: 160px;
    }

    .modalArrow{
        font-size: 30px !important;
    }

}
