.news_item {
  width: 100%;
  min-height: 10em;
  /* height: 20rem; */
  margin-bottom: 3em;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #e3e3e3;
  border-radius:8px;
  transition: all .3s ease;
}

.news_item:hover{
  box-shadow: 0px 0px 18px 2px rgba(118, 148, 255, 0.25);
}

.image{
  width: 40%;
  height: 100%;
  object-fit: contain;
  max-width: 300px;
  max-height: 300px;
}

.news_content {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

.date {
  color: #4b4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.more {
  background: #7694ff !important;
  border-radius: 20px !important;
  color: #ffffff;
  box-shadow: none;
  transition: all .3s ease;
}

.more:hover {
  background-color: #7694ff;
  box-shadow:0px 0px 18px 2px rgba(118, 148, 255, 0.25);
}

.modal_container{
    padding: 2em;
}

.modal_top{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    justify-content: space-between;
}

.modal_main{
    /* display: flex; */
    margin-top: 1em;
}

.modal_content{
    text-align: justify;
}

.modal_img{
    width: 40%;
    margin: 0 0 20px 20px;
    height: 18em;
    object-fit: cover;
    float: right;
}

@media (max-width: 800px){
  .news_item{
    flex-direction: column;
    min-height: 20em ;
    /* height: 34em; */
  }

  .image{
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 416px){
  .bottom{
    flex-direction: column;
    justify-content: flex-start;
  }
  .date{
    justify-content: flex-start;
  }
  .news_item{
    min-height: 25em ;
    height: 41em;
  }
}

@media (max-width: 1000px) {
  .modal_img{
    width: 50%;
  }
}

@media (max-width: 700px) {
  .modal_img{
    width: 60%;
    /* height: 15em; */
  }
  .modal_container{
    padding: 1em;
  }
  
  .news_content h2{
    font-size: 1.2rem;
  }

  .description{
    font-size: 1rem;
  }

  .readMoreContainer{
    text-align: center;
  }

}

@media (max-width: 500px) {
  .modal_img{
    width: 100%;
    /* height: 12em; */
    margin-bottom: 0.5em;
  }
  .news_content{
    padding: 1em;
  }
}