
.makeStyles-buttonWrapper-8:hover .makeStyles-button-13 {
    background-color: #ffffff!important;
    opacity:1!important;
}
.makeStyles-button-13 {
    color: white;
    background-color:none!important;
}
.makeStyles-root-1 {
   width:100%;
   max-width:1640px
}