.landingLayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 410px;
}

.eventSvg {
    width: 90%;
    margin: auto;
    border-radius: 20px;
    display: block;
    max-width: 1360px;
    box-shadow: 3px 3px 18px rgba(118, 148, 255, 0.25);
    background-size: cover !important;
    background-position: center !important;
    height: 390px;
}

.societyNavContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 92%;
    position: relative;
    bottom: 60px;
    max-width: 1360px;
    margin: auto;
}

.societyLogoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.societyLogoCircle{
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 3px 3px 18px rgb(118 148 255 / 25%);
    overflow: hidden;
}

.societyLogo{
    height: 100%;
    width: 100%;
    background-size: contain !important; 
    background-position: center !important;
}

.societyLogoCircle{  
    height: 110px;
    width: 110px;
    padding: 5px;
}

.societyMenuContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.societyMenuBox{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background: white;
    box-shadow: 3px 3px 18px rgba(118, 148, 255, 0.25);
    max-width: 640px;
    width: 100%;
}

.societyMenuItem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 25%;
    height: 100%;
    border: none;
}

.societyMenuItem:hover{
    cursor: pointer;
    background-color: #7694FF !important;
    color: white !important;
}

.societyMenuItem:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.societyMenuItem:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media screen and (max-width:1000px) {
    .landingLayout{
        height: 360px;
    }

    .eventSvg{
        height: 350px;
    }

    .societyNavContainer{
        bottom: 50px;
    }

    .societyMenuItem{
        padding: 15px;
    }
    
    .societyLogoCircle{
        height: 90px;
        width: 90px;
    }
}

@media screen and (max-width:767px) {
    .landingLayout{
        height: 330px;
    }

    .eventSvg{
        height: 320px;
    }

    .societyLogoBox{
        width: 25%;
    }

    .societyMenuItem{
        padding: 10px;
    }

    .societyMenuItem div{
        font-size: 15px;
    }
    
    .societyLogoCircle{
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width:600px) {

    .eventSvg{
        width: 100%;
        border-radius: 0px;
    }

    .societyNavContainer{
        flex-direction: column;
    }

    .societyLogoBox{
        width: 95%;
        justify-content: flex-start;
    }

    .societyMenuContainer{
        width: 95%;
        padding-top: 20px;
    }

    .societyMenuItem:first-child{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .societyMenuItem:last-child{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .societyMenuBox{
        border-radius: 0px;
    }

    .landingLayout{
        height: 330px;
    }

    .eventSvg{
        height: 300px;
    }

    .societyLogoCircle{
        height: 70px;
        width: 70px;
    }

    
}